name: Release Chart to GHCR

on:
  workflow_dispatch:
  # Triggers the workflow on push or pull request events but only for the main branch
  create:
  push:
    tags:
      - "*"

jobs:
  release:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    # depending on default permission settings for your org (contents being read-only or read-write for workloads), you will have to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: write
    runs-on: ubuntu-latest
    container: alpine/helm:3.13.1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Release chart to GHCR
        env:
          GITHUB_COM_TOKEN: "${{ secrets.GH_TOKEN_PACKAGES }}"
          TAG: "${{ github.ref_name }}"
        run: |
          helm package charts/otf-agent --version ${TAG}
          echo ${GITHUB_COM_TOKEN} | helm registry login -u pat-s ghcr.io --password-stdin
          helm push otf-agent-${TAG}.tgz oci://ghcr.io/pat-s/otf-agent-helm
          helm registry logout ghcr.io

  update-readme:
    permissions:
      contents: write
    needs: release
    runs-on: ubuntu-latest
    container: jnorwood/helm-docs:v1.11.3
    steps:
      - name: Install git
        run: apk add -q --no-cache git
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: main
      - name: update readme
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          helm-docs charts/
          git add charts/otf-agent/README.md
          git commit -m "Update README.md" || true
          git push || true
