name: Release Chart to GHCR

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  release:
    # depending on default permission settings for your org (contents being read-only or read-write for workloads), you will have to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: write
    runs-on: ubuntu-latest
    container: alpine/helm:3.13.0
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Release chart to GHCR
        env:
          GITHUB_COM_TOKEN: "${{ secrets.GH_TOKEN_PACKAGES }}"
          TAG: "${{ github.event.release.tag_name }}"
        run: |
          helm package charts/otf-agent --version ${TAG}
          echo ${GITHUB_COM_TOKEN} | helm registry login -u pat-s ghcr.io --password-stdin
          helm push otf-agent-${TAG}.tgz oci://ghcr.io/pat-s/otf-agent-helm
          helm registry logout ghcr.io

      - name: Install git
        run: apk add git

      - name: update readme
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          git clone https://github.com/norwoodj/helm-docs.git
          rm -rf helm-docs/cmd/helm-docs/testdata helm-docs/example-charts helm-docs/pkg/helm/test-fixtures
          cd helm-docs/cmd/helm-docs
          go build
          cd ../../..
          helm-docs/cmd/helm-docs/helm-docs
          git config --global --add safe.directory "*"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add otf-agent/README.md
          git commit -m "Update README.md"
          git push || true
